.bg-red {
  display: inline-block;
  background-color: #dd4b39 !important;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-transform: initial;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.bg-black {
  display: inline-block;
  background-color: black !important;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: initial;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
} 
.bg-yellow {
  display: inline-block;
  background-color: #f39c12 !important;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-transform: initial;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
} 
.bg-light-blue {
  display: inline-block;
  background-color: #3c8dbc !important;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-transform: initial;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
} 
.bg-aqua {
  display: inline-block;
  background-color: #00c0ef !important;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-transform: initial;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
} 
.bg-green {
  display: inline-block;
  background-color: #00a65a !important;
  min-width: 10px;
  padding: 3px 7px !important;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: initial;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
} 

#button{
  padding: 2px; 
  font-size: 0.8rem; 
  border-right-width: 5px;
  border-left-width: 5px;
  margin-right: 5px;
}


#div_button {
  color: #97a0b3;
  background: #ffffff;
  background-color: #ffffff;
  padding: 0px;
}

#option_button {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

#hide {
 visibility: hidden;
}

  

