#box_atributo {
    border: 1px solid #f39c12;
}
#titulo_atributo {
    color: #fff;
    background: #f39c12;
    background-color: #f39c12;
    padding: 10px;
}
#button_atributo {
    color: #fff;
    background: #f39c12;
    background-color: #f39c12;
    padding: 0px;
}

    
