.bg-yellow {
    border-radius: 50rem !important;
    color: white;
    background-color: #f39c12 !important;
    padding: 3px 5px;
}
.bg-light-blue {
    border-radius: 50rem !important;
    color: white;
    background-color: #3c8dbc !important;
    padding: 3px 5px;
} 
.bg-green {
    border-radius: 50rem !important;
    color: white;
    background-color: #00a65a !important;
    padding: 3px 5px;
} 