<!-- <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-body text-center">
            <h1>Avalia FCT</h1>
              <p>Você deseja realmente sair?</p>
              <div class="form-group">
                <button (click)="logoutUser()" type="submit" class="btn btn-primary btn-block">
                  Sair
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
